@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.nav1 li{
	color: #09C;
}
/*
#slideshow {
    margin: 50px auto;
    position: relative;
    width: 900px;
    height: 400px;
    padding: 10px;
}
*/
.slideshowContainer{
	padding-top: 5%;
}
/*
#slideshow > div {
    position: absolute;
    top: 100px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
*/

body{
	background-color: #0C1115 !important;
}
.para1{
	color: white;
	font-family: 'Merienda', cursive;

}
.navbar-inverse .navbar-nav>li>a{
	color: #09C !important;
}
.navbar-inverse .navbar-nav>li{
	text-align: center !important;
}
.fbContainer{
	padding-top: 5%;
}
._2pi4_36iq_4lk2_3xre_50sk{
    display:none;
}
#indexSlideShow{
	height:30vh;
	background-repeat: no-repeat;
}
.lyrics{
	text-align: center;
	font-size:10pt;
}
.contactContainer{
	padding-top: 5vw;
}
.contactContainer h1{
	color: #09C;
}
.contactContainer p{
	color: white;
}

.parallax {
    /* The image used */
    background-image: url("https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/936050_10152591970423689_6200100129290046888_n.jpg?oh=e107a2cfac54600435871b530c1f2407&oe=5A151002");

    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#links1 {
    margin-top: 90px;
    text-align: center;
    color: white;
    border-bottom: solid black;

}

.links2{
    color: white;
    margin-top: 40px;
}
